
body{
    background-color: rgb(139, 198, 221);
}

.side-panel{
    width: 25%;
    height: 100%;
    float: right;
    background-color: rgb(139, 198, 221);
    padding: 10px;
}

form{
    margin: auto;
    width: 300px;
    padding: 10px;
}

table{
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    background-color: #dadada;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td{
    padding: 20px;
    text-align: left;
}

.urlap{
    width: 75%;
    padding: 30px;
    background-color: #fff;
    height: 1000px;
}

.urlap h1{
    text-align: center;
}

footer{
    padding: 10px;
    text-align: right;
    border-top: #000000 solid 1px;
    height: 50px;
    background-color: #5292ac;
    color: #fff;
}

